<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="position" default="wheel"/>
    <arg name="model" default="$(find sim1_lecture)/xacro/dtw_robot3.xacro"/>
    <arg name="rvizconfig" default="$(find sim1_lecture)/rviz/dtw_gazebo4_wheel.rviz"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model dtw_robot3" />

    <group if="">
        <param name="" value=""/>
    </group>

    <group>
        <param />
        <node name="" pkg="" type="">
            <param name="" value=""/>
            <param name="" value=""/>
            <param name="" value=""/>
        </node>
    </group>

    <rosparam command="" file="$(find)/"/>
    <rosparam command="" file="$(find)/"/>
    <node name="" pkg="" type="" respawn="" output="" ns="" args=""/>
    <node name="" pkg="" type="" respawn="" output="" ns="" args=""/>
    <node name="" pkg="" type="" args="" required=""/>
</launch>